<div class="text-center flex flex-col gap-2">

  <div class="grid grid-cols-2">
    <div class="flex justify-center items-center px-4 py-16 bg-black text-white">
      <div class="w-2/3">
        <small class="text-xs">Jan 4, 2023 | In Culture</small>
        <h1 class="text-2xl tracking-widest">TUTORIAL</h1>
        <p class="text-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at eius fugiat magnam nulla praesentium sed voluptas? Commodi cum doloribus eum fuga impedit ipsum mollitia nam nostrum nulla odit perferendis porro, tempore, totam? Aperiam, neque, possimus. Accusamus dolor error expedita in maxime molestiae officiis ullam? A commodi error est facere in ipsa officiis, quidem tempora vel vero! Alias aliquid animi aperiam aut blanditiis dicta, distinctio eum eveniet facilis harum in iure labore minus modi molestiae mollitia necessitatibus neque non nulla officia omnis qui repellat rerum tenetur vel veritatis voluptatem voluptatum. Assumenda beatae, blanditiis corporis dignissimos dolorem eos esse ipsum ullam.
        </p>
      </div>
    </div>
    <div class="h-full object-center object-cover">
      <img class="h-full w-full" src="./assets/images/news-1.png" alt="">
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="flex justify-center items-center px-4 py-16">
      <div class="w-2/3">
        <small class="text-xs">Jan 4, 2023 | In Culture</small>
        <h1 class="text-2xl tracking-widest">TUTORIAL</h1>
        <p class="text-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at eius fugiat magnam nulla praesentium sed voluptas? Commodi cum doloribus eum fuga impedit ipsum mollitia nam nostrum nulla odit perferendis porro, tempore, totam? Aperiam, neque, possimus. Accusamus dolor error expedita in maxime molestiae officiis ullam? A commodi error est facere in ipsa officiis, quidem tempora vel vero! Alias aliquid animi aperiam aut blanditiis dicta, distinctio eum eveniet facilis harum in iure labore minus modi molestiae mollitia necessitatibus neque non nulla officia omnis qui repellat rerum tenetur vel veritatis voluptatem voluptatum. Assumenda beatae, blanditiis corporis dignissimos dolorem eos esse ipsum ullam.
        </p>
      </div>
    </div>
    <div class="h-full object-center object-cover">
      <img class="h-full w-full" src="./assets/images/news-1.png" alt="">
    </div>
  </div>
</div>
