<div class="text-center flex flex-col gap-2">

  <div class="grid grid-cols-2">
    <div class="flex justify-center items-center px-4 py-16 bg-black text-white">
      <div class="w-2/3">
        <h1 class="text-2xl tracking-widest">
          AI/ML Based Forecasting and Educational Game
        </h1>
        <p class="text-sm">
          All public data is analyzed perfectly in this fintech application companies and mutual funds. Using this data
          first of all poyshapati created a perfect data set to train the machine learning and AI model. This machine
          learning and AI model constantly gives the forecasting of net profit, gross margin, and valuation in future
          times. By using this user first of all easily people can know what is the real data of the company and the
          predicted future. That's how people can decide easily where to invest. There was also a tutorial and a game
          available to know how to invest or where to invest properly.
        </p>
      </div>
    </div>
    <div class="h-full object-center object-cover">
      <img class="h-full w-full" src="./assets/images/news-1.png" alt="">
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="h-full object-center object-cover">
      <img class="h-full w-full" src="./assets/images/news-1.png" alt="">
    </div>
    <div class="flex  justify-center items-center px-4 py-16">
      <div class="w-2/3">
        <h1 class="text-2xl tracking-widest">Blockchain-based transaction system

        </h1>
        <p class="text-sm">
          Here, in poyshapati classical money transfer system and blockchain based money transfer is available. However, Blockchain
          based money transaction system is super fast and paperless compared to classical money transfer system. In this blockchain based system
          we used stable coin such as <strong>USDP</strong>. This transaction is much more secure than any other system in the world.
        </p>
      </div>
    </div>
  </div>
</div>
