<div class="flex flex-col space-y-8">
  <div style="background-image: url('assets/images/banner.png')"
       class="bg-cover bg-center text-white h-96 flex flex-col space-y-4 items-center justify-center">
    <h1 class="text-6xl font-bold">
      Poyshapati
    </h1>
    <span class="text-2xl tracking-widest text-blue-400">A Fintech concurring the country</span>
  </div>
  <app-about-agency></app-about-agency>
  <app-tutorial></app-tutorial>
  <app-blog></app-blog>
  <app-most-profitable-comany></app-most-profitable-comany>
</div>
