<div class="p-4">
  <div class="p-4 border rounded-lg border-blue-500">
    <table class="table-auto w-full">
      <thead>
      <tr>
          <th>Company Name</th>
          <th>Gross Profit</th>
          <th>Net Profit</th>
          <th>Valuation</th>
          <th>Equity</th>
          <th>Action</th>
      </tr>
      </thead>
      <tbody>

          <ng-container *ngFor="let company of companyData">
            <tr>
            <td>{{company.companyName}}</td>
            <td>{{company.grossProfit}}</td>
            <td>{{company.netProfit}}</td>
            <td>{{company.valuation}}</td>
            <td>{{company.equitySalePrice}}</td>
            <td>
              <app-button buttonType="button" buttonText="Invest">
                <a href=""></a>
              </app-button>
            </td>
          </ng-container>
      </tbody>
    </table>
  </div>

</div>
